In [5]:
import pandas as pd

In [6]:
d = [1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(d, columns = ['Number'])
df

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [7]:
df.to_excel('Lesson10.xlsx', sheet_name = 'testing', index = False)
print('Done')

Done

In [10]:
location = r'/Users/ChrisD/projects/hello-world/Lesson10.xlsx'

# Parse the excel file
df = pd.read_excel(location, 0)
df.head()

   Number
0       1
1       2
2       3
3       4
4       5

In [11]:
df.to_json('Lesson10.json')
print('Done')

Done

In [14]:
jsonloc = r'/Users/ChrisD/projects/hello-world/Lesson10.json'

# read json file
df2 = pd.read_json(jsonloc)
df2

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9