In [1]:
print("Hello World")

Hello World

In [2]:
spam = 1

In [3]:
spam

1

In [6]:
text = "# This is a quote: \" not a comment because it's inside quotes."

In [7]:
text

'# This is a quote: " not a comment because it\'s inside quotes.'

In [8]:
text = '# This is a quote: " not a commetn because it\'s inside quotes'

In [9]:
text

'# This is a quote: " not a commetn because it\'s inside quotes'

In [11]:
text[3:7]

'his '

In [13]:
x = int(input("Please enter an interger: "))

Please enter an interger: 42

In [14]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Sinlge')
else :
    print('More')

More

In [24]:
names = ['Mohammed', 'Ibrahim', 'Hussein']
ages = [14, 52, 37]
for name,age in zip(names, ages):
    #print(q, len(q))
    print(name,age)
    print(name[1], str(age)[1])

Mohammed 14
o 14
Ibrahim 52
b 52
Hussein 37
u 37

In [25]:
names = ['Mohammed', 'Ibrahim', 'Hussein']
ages = [14, 52, 37]
for name,age in zip(names, ages):
    #print(q, len(q))
    print(name,age)
    print(name[1], str(age + 3)[1])

Mohammed 14
o 4
Ibrahim 52
b 2
Hussein 37
u 7

In [26]:
names = ['Mohammed', 'Ibrahim', 'Hussein']
ages = [14, 52, 37]
for name,age in zip(names, ages):
    #print(q, len(q))
    print(name,age)
    print(name[1], str(age + 3)[1])

Mohammed 14
o 7
Ibrahim 52
b 5
Hussein 37
u 0

In [29]:
names = ['Mohammed', 'Ibrahim', 'Hussein']
for name in (names):
    if len(name) > 7:
        names.insert(0, name)

KeyboardInterrupt:

In [ ]:
names

In [ ]:
print(names)

In [ ]:
7 % 2

In [ ]:
print 6 % 2

In [30]:
17 % 3

2

In [54]:
for n in range(2,10):
    print("Here n is: ", n)
    for x in range(2, n):
        if x == 2:
            print("Here x is: ", x)
        else:
            print("Now x is: ", x)
        if n % x == 0: 
            print(n, '=', x, '*', int(n / x), 'and is therefore not prime')
            break
    else:
        print(n, 'is PRIME')

Here n is:  2
2 is PRIME
Here n is:  3
Here x is:  2
3 is PRIME
Here n is:  4
Here x is:  2
4 = 2 * 2 and is therefore not prime
Here n is:  5
Here x is:  2
Now x is:  3
Now x is:  4
5 is PRIME
Here n is:  6
Here x is:  2
6 = 2 * 3 and is therefore not prime
Here n is:  7
Here x is:  2
Now x is:  3
Now x is:  4
Now x is:  5
Now x is:  6
7 is PRIME
Here n is:  8
Here x is:  2
8 = 2 * 4 and is therefore not prime
Here n is:  9
Here x is:  2
Now x is:  3
9 = 3 * 3 and is therefore not prime

In [59]:
 def fib(n):
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()

print(fib(0))

None

In [66]:
def ask_ok(prompt, retries=4, complaint='Yes or no, please!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise OSError('uncooperative user')
        print(complaint)
        
ask_ok('can pigs fly?')

can pigs fly?yes

True

In [71]:
dog = 'bob'
dog in set(['michelle', 'chris', 'banjo'])

False

In [72]:
ages = {'michelle': 49, 'chris': 20, 'bob': -1}

In [73]:
ages['michelle']

49

In [74]:
'bob' in ages

True

In [75]:
'patrick' in ages

False

In [80]:
ages.get('patrick', -1)

50

In [78]:
ages['patrick'] = 50

In [79]:
ages

{'bob': -1, 'chris': 20, 'michelle': 49, 'patrick': 50}

In [81]:
def f(a, L=None):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [83]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[2]
[3]

In [85]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

L = f(1)
L = f(2, L)
L

[1, 2]

In [88]:
def make_incrementor(n):
     return lambda x: x + n

f = make_incrementor(42)
f(2)

44

In [93]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

# names = ['chris', 'patrick', 'cindy']
# names = [1,2,3]

def get_second_element(elements):
    return elements[1]

#for name in names:
#    print(get_second_element(name))
    
pairs.sort(key=get_second_element)
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [94]:
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [97]:
from operator import itemgetter 
pairs.sort(key=itemgetter(1))
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]